{% extends 'base.html' %}
{% load static %}
{% block title %}Задачи{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/tasks.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "/css/menu.css" %}">
{% endblock %}
{% block content %}
    {% include 'menu.html' with user=user %}
<div class = TL_Page>
    <div class = tasks_list>
        <ul>
            {% for task in tasks %}
                {% include 'task_list/task_element.html' with element=task %}
            {% empty %}
                <li> Задач нет</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}