{% extends 'base.html' %}
{% load static %}
{% block title %}Задачи{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/tasks.css" %}">
{% endblock %}
{% block content %}
<div class = TL_Page>
    <div class = menu_bar>
        <div class="button">
            <form action="{% url "task_creation"%}">
            <button type="submit" class="btn btn-primary">Добавить задачу</button>
            </form>
        </div>
        <div class="button">
            <form action="{% url "TL:my_task_list"%}">
            <button type="submit" class="btn btn-primary">Мои задачи</button>
            </form>
        </div>
        <div class="button">
            <form action="{% url "TL:all_task_list"%}">
            <button type="submit" class="btn btn-primary">Все задачи</button>
            </form>
        </div>
        <div class="button">
            <form action="{% url "logout"%}">
            <button type="submit" class="btn btn-primary">Выйти</button>
            </form>
        </div>
    </div>
    <div class = tasks_list>
        <ul>
            {% for task in tasks %}
                {% include 'task_list/task_element.html' with element=task %}
            {% empty %}
                <li> Задач нет</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}