.profile{
    margin: 0px 40px;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: auto;
    text-align: center;
}

.profile_avatar_full{
    display: inline-block;
    width: 150px;
    height: 150px;
    vertical-align: top;
    margin-right: 20px;
}
.description {
    display: inline-block;
    width: auto;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 20px;
    border-collapse: collapse;
    text-align: center;
}
.action_bar{
    display: block;
    height: calc(100% - 120px);
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #f1f1f1;
    font-size: 20px;
    margin:auto;
}

