{% extends 'base.html' %}
{% load static %}
{% block title %} {{ task.name }} {% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" type="text/css" href="{% static "/css/task.css" %}">
{% endblock %}
{% block content %}
<div class=table>
    <table>
    <tr>
        <td>Задача:</td> <td>{{task.name}}</td>
    </tr>
    <tr>
        <td>Описание:</td> <td>{{ task.description }}</td>
    </tr>
    <tr>
        <td>Срок выполнения: </td> <td>{{ task.competition_date }}</td>
    </tr>
    </table>
</div>
<div class=action_bar>
     {% if is_executor %}
        {% if last_executor %}
            <form action="{% url 'TM:task_remove' task.id%}">
            <div class="space">
                <button type="submit" class="btn btn-primary">Удалить задачу</button>
            </div>
            </form>
        {% else %}
            <form action="{% url 'TM:task_leave' task.id%}">
            <div class="space">
                <button type="submit" class="btn btn-primary">Бросить задачу</button>
            </div>
            </form>
        {% endif %}
    {% else %}
        <form action="{% url 'TM:task_join' task.id%}">
        <div class="space">
            <button type="submit" class="btn btn-primary">Присоединиться к задаче</button>
        </div>
        </form>
    {% endif %}
</div>
 {% endblock %}