{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>
        {% block title %}
            Заголовок страницы
        {% endblock %}
    </title>

    <script src="{% static "/js/jquery-3.3.1.js" %}"></script>
    <script type="text/javascript" src="{% static "/js/bootstrap.js" %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static "/css/bootstrap.css" %}">
    {% block extrascripts %}{% endblock %}
    {% block extrastyles %}{% endblock %}
</head>
<body>
<div>
    {% block menu %}
    {% endblock %}
    {% block content %}
        Тело страницы
    {% endblock %}
</div>
</body>
</html>